<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel=stylesheet>
    <title>Document</title>
</head>
<body>
    <h1>SyllabusCrawler</h1>
    <section>
        <div id="form_scrape">
            <form id="search_form" action="{{url_for('read_input')}}" method="post">

                <!--------------------- Search word ---------------------->
                <label class="search-bar" for="search-bar">Sökord:</label>
                <span id="error-message-input"></span>
                <input id="search-input" name="search-input" type="text" placeholder="ex. mobila system kursplan">
                <!-------------------------------------------------------->

                <!----------------------- Keywords ----------------------->
                <span id="keyword-info"></span>
                <label class="explanation" for="explanation"><i>Obs! Minst ett nyckelord behövs för resultat</i></label>
                <label class="keyword1" for="keyword1">Nyckelord 1: <input id="input-keyword1" name="input-keyword1" type="text" placeholder="ex. syfte"> </label>
                <label class="keyword2" for="keyword2">Nyckelord 2: <input id="input-keyword2" name="input-keyword2" type="text" placeholder="ex. innehåll"> </label>
                <label class="keyword3" for="keyword3">Nyckelord 3: <input id="input-keyword3" name="input-keyword3" type="text" placeholder="ex. lärandemål"> </label>
                <!-------------------------------------------------------->

                <!-------------------- Amonut of pages ------------------->
                <label class="search-bar" for="amount-of-pages">Ange antal söksidor (max 15):</label>
                <span id="error-message-number"></span>
                <input id="amount-of-pages" name="amount-of-pages" type="text">
                <!-------------------------------------------------------->
                <button id="search-button">Sök</button>
                
            </form>
        </div>

    <div id="buttons">
        <div id="clear_output">
            <form action="{{url_for('clear_result')}}" method="post">
                <button>Rensa resultat</button>
            </form>
        </div>

        <div id="save_to_excel">
            <form action="{{url_for('save_excel')}}" method="post">
                <button id="btn_save_excel">Spara till Excel fil</button>
            </form>
        </div>
    </div>

        <div id="scrape_output">
            <h2>Sökresultat</h2>

            <span id="searchword-message"></span>
            <b class="searchterm">{{ search }}</b>

            <span id="keyword-message"></span>
            {% for keyword in keywords %}
                <div class="keywords">
                    <b class="each-keyword">{{ keyword }}</b>
                </div>
            {% endfor %}

            <div id="loader"></div>
            <span id="error-message"></span>
            <hr>
            
            <div class="all-scrape">
            {% for scrape in result %}
                {% for s in scrape %}
                    
                        <p id="scrape-result">{{ s }}</p>
                        <hr>
                    
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </section>
    <script src="/static/index.js"></script>
</body>
</html>