<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel=stylesheet>
    <title>Document</title>
</head>
<body>
    <h1>SyllabusCrawler</h1>

    <div id="form_scrape">
        <form action="{{url_for('read_input')}}" method="post">
            <label class="search-bar" for="search-bar">Sök här:</label>
            <input id="search-input" name="search-input" type="text">
            <button id="search-button">Sök</button>
            
            <!--<input id="reset" type="submit" value="Reset">
            <input id="scrape" type="submit" value="Submit">-->
        </form>
    </div>

    <div id="clear_output">
        <form >
            <button>Rensa resultat</button>
        </form>
    </div>

    <div id="scrape_output">
        <h2>Results of scrape</h2>

        {% for scrape in result %}
            <p id=result-item>{{ scrape }}</p>
        {% endfor %}
    </div>
    
</body>
</html>